@keyframes completed {
    0% {
        width: 50%;
    }
    50% {
        width: 100%;
        transform: none;
        opacity: 1;
    }
    100% {
        width: 100%;
        transform:translateX(100%);
        opacity:0;
    }
}
@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 40%;
    }
    60% {
        width: 45%;
    }
    100% {
        width: 90%;
    }
}

/* .progressBar-loading { background-color: #fff; }  */
.progress-completed {
    animation: completed 500ms forwards linear !important;
}
.progress-loading {
    transition: 400ms;
    animation: loading 2s ease-in-out forwards !important;
}