@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../components/progressBar/progressBar.css");
@import url("../components/header/header-animations.css");


body {
  background: #030303 linear-gradient(-40deg, #272727, #030303, #030303, #272727);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.glassmorphism {
  background: rgba(26, 26, 26, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
input:focus {
  outline: none;
}