@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(53, 67, 255);
  background: linear-gradient(-45deg, #0099ff, #000000, #0099ff);
  /* background-size: 400% 400%; */
  /* animation: gradient 2s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.glassmorphism {
  background: rgba(26, 26, 26, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
